.contact{
    font-weight: bold;
    text-align: center;
    width:100%;
    align-items: center;
    height:500px;
    margin: auto;
    margin:100px;
    font-family: 'Fruktur', cursive;
font-family: 'Irish Grover', cursive;
}